<div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row mb-4">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="/dashboard/add">add note</a></li>
                </ol>
            </nav>
            <div class="col d-flex justify-content-between align-items-center">
                <h1 class="h3">Add Note</h1>
            </div>
        </div>
    </div>
    <form action="/dashboard/add" method="POST" class="position-relative">
        <div class="position-absolute form-group mb-4" style="top: 1px;right: 1px;left: 1px;">
            <input type="text" class="form-control fw-bold fs-4 border-0" name="title" id="title"  placeholder="type the title" required>
        </div>
        <div class="form-group mb-4">
            <textarea name="body" id="body" placeholder="take a note" class="form-control pt-5 fs-4" style="height: 250px;" required></textarea>
        </div>
        <div class="form-group mb-4">
          <button type="submit" class="btn btn-primary btn-lg">+ Add Note</button>
        </div>
    </form>
</div>

